.venv/*
.env
__pycache__/*
data/uploaded/*
data/vector_store/*
data/source_documents/*
data/archive/*
*.code-workspace
*.DS_STORE
credits
myenv/*
.streamlit
Test_Coder/chat-with-your-doc_custom/__pycache__